@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
body{
  font-family: "Quicksand", sans-serif ;
}
ul{
    list-style: none;
}
a{
    
text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: auto;
}
/* utility classes */
.primary-text{
    color: orange;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: white;
    border: 1px solid white;
}
.btn-secondary{
    color: white;
    background-color: #383874;
    margin-top: 2rem;
}
.btn-primary:hover,
.btn-secondary:hover{
    background-color: orange;
}
header{
    height: 100vh;
    background: url('./img/home_bg.jpeg')center center/cover no-repeat;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img{
    width: 80px;
    margin-left: 100px;

}
#navbar ul{
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 20px 15px;
    color: white;
    font-weight: 600;

}
#navbar ul li a:hover{
    border-bottom: 2px solid orange;
}
header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    
}
header .content h1{
    font-size: 40px;
    color: white;
}
header .content p{
    margin: 20px 0px 40px;
    color: white;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background:  rgb(0 ,0,0, 0.6);

}
header *{
    z-index: 10;
}
/* header end */
#about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
#about .title , #offers .title , #menu .title{
    text-align: center;
    margin-bottom: 4rem;
}
#about h2,
#offers h2 , #menu h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#about h2 , #menu h2{
    color: #383874;
}
#about .title p, 
#menu .title p
{
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
   
}
#about .about-content img{
    width: 450px;
}
#about .about-content p{
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
}
/* about end */

/*offers start*/
#offers{
    display: flex;
    justify-content: center;
    background: url(/img/offer-background.jpg)center center/cover fixed;
}
#offers h2{
    color: orange;
}
#offers .title p{
    color: #fff;
    font-weight: 500;
}
#offers .offer-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
#offers .offer-items img{
    width: 200px;
}
#offers .offer-items h3{
    font-size: 25px;
    margin: 15px  0;
}
#offers .offer-items p{
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
#offers .offer-items span{
    font-size: 18px;
    font-weight: 600;
    margin-left:8px;
}
/*offers end*/
/*menu start*/
#menu{
    background: #f4f4f4;
    padding: 5rem;
}
#menu .menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item{
display: flex;
 justify-content: center;
 align-items: center;
 margin: 40px;
}

#menu .menu-items .menu-item img{
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu .menu-items .menu-item h3{
    color: #383874;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    position: relative;
}
#menu .menu-items .menu-item span{
    position: absolute;
    top: 0;
    right: 0;
}
#menu .menu-items .menu-item p{
    margin-top: 10px;
}
#menu .btn{
    background: orange;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 20PX;
    cursor: pointer;

}
#menu .btn:hover{
    background: #383874;
}
/*menu end*/
/* daytime start */
#daytime{
    background: url(./img/daytime_bg.jpeg) center center/cover fixed no-repeat;
    color: #fff;
    text-align: center;
}
#daytime .daytime-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
#daytime .daytime-items h3{
    font-size: 32px;
    margin: 20 0 10px;
}
#daytime .daytime-items p{
    font-weight: 500;
}
/* daytime end */
.cart-btn-container {
    position: fixed; /* يجعلها ثابتة حتى أثناء النزول في الصفحة */
    top: 20px;
    right: 20px;
    background-color: #ff6b6b; /* لون جذاب */
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 1000; /* لتكون فوق كل العناصر */
    transition: 0.3s;
}

.cart-btn-container:hover {
    transform: scale(1.1); /* تأثير تكبير عند الوقوف بالماوس */
    background-color: #ff4757;
}

#cart-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    color: #ff6b6b;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    border: 1px solid #ff6b6b;
}